.header__hamburger {
    width: 40px;
    height: 36px;
    position: relative;
    display: block;
}

.hamburger__line {
    position: absolute;
    height: 8px;
    border-radius: 10px;
    width: 100%;
    background: var(--gray);
}

.hamburger__line:nth-child(1) {
    top: 0;
    transition: transform 0.5s, rotate 0.5s;
}

.hamburger__line:nth-child(2) {
    top: 15px;
    transition: transform 0.5s;
}

.hamburger__line:nth-child(3) {
    bottom: 0;
    transition: transform 0.5s, rotate 0.5s;
}

.nav__list {
    margin: 0;
    padding: 1rem 0;
}

.nav__li {
    list-style: none;
    position: relative;
    font-weight: 800;
}

.nav__item {
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    display: block;
}

.header {
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}



@media screen and (max-width: 808px) {
    .header__hamburger.active .hamburger__line:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    .header__hamburger.active .hamburger__line:nth-child(2) {
        transform: translateX(200%);
    }

    .header__hamburger.active .hamburger__line:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }

    .header__nav.active {
        right: 0;
        width: 100%;
        overflow-y: auto;

        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        z-index: 80;

    }

    .nav__item {
        color: white;
        text-align: center;
        padding: 1rem 0;
    }


    .nav__list {
        padding: 2em 1rem;
    }

    .body {
        overflow-x: hidden;
    }

    .header__nav {
        position: fixed;
        width: 100%;
        right: -100%;
        transition: right 0.5s ease-in-out;
        background-color: var(--gray);
    }

    .nav__li:hover {
        transform: none;
        opacity: 1;
    }

}

.nav__li a:hover {
    background-color: white;
    color: #000;

    border-radius: .5rem;
}

.header {
    position: fixed;
    color: #000;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.hero__section {
    margin-top: 96px;
}

@media screen and (min-width: 808px) {
    .header__hamburger {
        display: none;
    }



    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        display: flex;
        gap: 1.5rem;
        margin: 0 1.25rem;
    }

    .nav__list {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

}